<div class="memo-top">
  <%= link_to "メモを作成する", "#",class: "room-btn" %>
  <div class= "room-current">
    <%= "ルーム名【デモページ】" %>
  </div>
  <div class= room-navi>
    <%= link_to "ルーム編集", "#",class: "room-edit room-btn" %>
    <%= link_to "ルーム削除", "#",class: "room-delete room-btn" %>
  </div>
</div>

<div class="memo-container">
  <div class="buy">
    購入者：
    <div class="buy-name">
      <label><input type="checkbox">ユーザー名①</label>
    </div>
    <div class="buy-name">
      <label><input type="checkbox">ユーザー名②</label>
    </div>
    <div class="buy-name">
      <label><input type="checkbox">太郎くん</label>
    </div>  
    <div class="buy-name">
      <label><input type="checkbox">花子さん</label>
    </div>
  </div>
  <div class="first-list">
    <div class="memo-user memos">
      投稿ユーザー名
    </div>
    <div class="memo-time memos">
      作成時間
    </div>
  </div>
  <div class="second-list">
    <div class="memo-item memos">
      欲しいアイテム名
    </div>
    <div class="memo-info memos">
      アイテムの詳細
    </div>
  </div>
</div>

<div class="memo-container">
  <div class="buy">
    購入者：
    <label><input type="checkbox">ユーザー名①</label>
    <label><input type="checkbox">ユーザー名②</label>
    <label><input type="checkbox">太郎くん</label>
    <label><input type="checkbox">花子さん</label>
  </div>
  <div class="first-list">
    <div class="memo-user memos">
      太郎くん
    </div>
    <div class="memo-time memos">
      2022年02月06日 10時40分
    </div>
  </div>
  <div class="second-list">
    <div class="memo-item memos">
      少年コミック
    </div>
    <div class="memo-info memos">
      ５巻、最新刊
    </div>
  </div>
</div>
<div class="memo-container">
  <div class="buy">
    購入者：
    <label><input type="checkbox">ユーザー名①</label>
    <label><input type="checkbox">ユーザー名②</label>
    <label><input type="checkbox">太郎くん</label>
    <label><input type="checkbox">花子さん</label>
  </div>
    <div class="first-list">
    <div class="memo-user memos">
      花子さん
    </div>
    <div class="memo-time memos">
      2022年02月07日 20時40分
    </div>
  </div>
  <div class="second-list">
    <div class="memo-item memos">
      日焼け止め
    </div>
    <div class="memo-info memos">
       SPF50+++であればなんでも
    </div>
  </div>
</div>