.wrapper {
  display: flex;
  justify-content: space-between;
}

/*/ヘッダー部分/*/

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 200px;
}

.room-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.room__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/*/サイドバー /*/
.side-bar {
  background-color: #fdd496;

}

/*/メモ部分 /*/
.memo {
  background-color: #FFEBCD;

}
