.wrapper {
  background-color: rgb(241, 9, 9);
  display: flex;
}

/*/トップ部分/*/

.top-wrapper{
  background-color: #454C59;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icon {
  width: 100px;
  height: 100px;
  margin-right: 80px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.room-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: white;
  background-color: #BF946F;
  text-decoration: none;
  user-select: none;
  border: 1px #BF946F solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.room__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{

  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.lists {
  display: flex;
  justify-content: space-between;
  padding: 0.4em 1.6em;
  background-color: #BF946F;
  border-radius: 3px;
  transition: 0.4s ease;
}
.login {
  margin-right: 20px;
}
.user-nickname{
 margin-right: 20px;
}

.sign-set{
  font-size: 15px;
  color: white;
  text-decoration: none;
  user-select: none;
}

/*/サイドバー /*/
.side-bar {
  background-color: #BF946F ;
  width: 200px;
  height: 100vh;
  border-right: 5px #454C59 solid;
}

/*/メモ部分 /*/
.memo {
  background-color: #F2D6A2;
  width: calc(100vh - 200px);
  height: 100vh
}

/*/ アカウント部分 /*/
.account-page {
  background-color: #454C59;
  height: 100vh;
  display: flex;
  align-items: center;
}

.account-inner {
  padding: 30px;
  width: 70%;
  height: 70%;
}

.account-title {
  background-color: #F2D6A2;
  height: 40px;
  text-align: center;
  font-size: 25px;
}

.account-form {
  background-color: #F2D6A2;
  margin: 20px 0;
  padding: 10px 30px;
}

.field {
  margin: 20px;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: white#BF946F;
  background-color: white;
  text-decoration: none;
  user-select: none;
  border: 1px #BF946F solid;
  border-radius: 3px;
  transition: 0.4s ease;
}