.wrapper {
  background-color: rgb(241, 9, 9);
  display: flex;
}

/*/トップ部分/*/

.top-wrapper{
  background-color: #454C59;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position:relative
}
.icon {
  width: 100px;
  height: 100px;
  margin-right: 80px;
  padding: 2px;
}

.nav {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.room-btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: white;
  background-color: #BF946F;
  text-decoration: none;
  user-select: none;
  border: 1px #BF946F solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.room__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{

  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.lists {
  display: flex;
  justify-content: space-between;
  padding: 0.4em 1.6em;
  background-color: lightgoldenrodyellow;
  border-radius: 3px;
  transition: 0.4s ease;
}
.login {
  margin-right: 20px;
}
.user-nickname{
 margin-right: 20px;
}

.sign-set{
  font-size: 15px;
  color: black;
  text-decoration: none;
  user-select: none;
}

/*/サイドバー /*/
.side-bar {
  background-color: #BF946F ;
  width: 200px;
  height: 100vh;
  border-right: 5px #454C59 solid;
  padding: 10px;
}
.room-name {
  border: 2px #454C59 solid;
  padding: 2px 10px ;
  margin-bottom: 5px;
  background-color: #f7ecd8;
}
.room-names{
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: block;
}

/*/メモ部分 /*/
.memo {
  background-color: #F2D6A2;
  width: calc(100% - 200px);
  height: 100vh;
  padding: 10px;
}

.memo-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 10px 10px;
  margin-bottom:30px ;
}

.memo-text {
  height: 200px;
  width: 80%;
}

.room-btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: black;
  background-color: lightgoldenrodyellow ;
  text-decoration: none;
  user-select: none;
  border: 1px #454C59 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-bottom: 20px;
}
.memo-container {
  background-color: #FFF;
}
.buy {
  display: flex;
}
.buy-name {
  padding: 0 10px;
}


.first-list {
  display: flex;
  justify-content: start;
  background-color: lightskyblue;
}
.second-list {
  display: flex;
  justify-content: start;
  margin-bottom: 15px ;
}
.memos {
  padding: 1px 4px;
  border: 1px black solid;
  margin:1px ;
}
.memo-user {
  width: 25%;
}
.memo-time {
  width: 75%;
}
.memo-item {
  width: 25%;
}
.memo-info {
  width: 75%;
}

/*/ フォーム関係 /*/
.account-page {
  background-color: #454C59;
  height: 100vh;
  display: flex;
  align-items: center;
}

.account-inner {
  padding: 30px;
  width: 70%;
  height: 70%;
}

.account-title {
  background-color: #F2D6A2;
  height: 60px;
  text-align: center;
  font-size: 25px;
}

.account-form {
  background-color: #F2D6A2;
  margin: 20px 0;
  padding: 10px 30px;
}

.field {
  margin: 20px;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: white#BF946F;
  background-color: white;
  text-decoration: none;
  user-select: none;
  border: 1px #BF946F solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

/*/ ルーム作成部分 /*/
.room-page {
  background-color: #454C59;
  height: 100vh;
  display: flex;
  align-items: center;
}
.room-current {
  font-size: 25px;
}

.room-navi {
  display: inline-block;
}

.room-inner {
  padding: 30px;
  width: 70%;
  height: 70%;
}

.room-title {
  background-color: #F2D6A2;
  height: 60px;
  text-align: center;
  font-size: 25px;
}

.room-form {
  background-color: #F2D6A2;
  margin: 20px 0;
  padding: 10px 30px;
}

.room-text {
  width: 80%;
}

.room-field {
  margin: 20px;
}

.btn {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 15px;
  color: white#BF946F;
  background-color: white;
  text-decoration: none;
  user-select: none;
  border: 1px #BF946F solid;
  border-radius: 3px;
  transition: 0.4s ease;
}